/**
* @file
* @brief    sigplus editor button stylesheet
* @author   Levente Hunyadi
* @version  $__VERSION__$
* @remarks  Copyright (C) 2011 Levente Hunyadi
* @remarks  Licensed under GNU/GPLv3, see https://www.gnu.org/licenses/gpl-3.0.html
* @see      https://hunyadi.info.hu/projects/sigplus
*/

body {
margin:0;
padding:8px;
}

form {
background:url(media.png) no-repeat scroll top right transparent;
}

#sigplus-settings-submit.btn-primary {
color: #fff;
background-color: #2384d3;
}

#sigplus-settings-submit.btn-primary:hover,
#sigplus-settings-submit.btn-primary:focus {
background-color: #185b91;
color: #fff;
}

h3 {
padding-top:1em;
}

.formelm fieldset label,.formelm fieldset input,.formelm fieldset select {
font:12px/14px sans-serif;
}

.panelform > ul {
display:block;
margin:0;
padding:0;
list-style:none outside none;
}

.panelform > ul > li {
margin:0;
padding:0;
min-height:36px;
}

.panelform > ul > li > input[type=checkbox]:first-child {
margin:unset;
}

.panelform > ul > li > label {
display:inline-block;
margin-left:5px;
width:40%;
}

input[type=number].form-control, input[type=text].form-control {
display:inline-block;
}

fieldset.radio {
margin:0;
border:none 0 transparent;
padding:0 0 8px 20px;
display:inline-block;
width:50%;
}

fieldset.radio > label {
margin-right:30px;
}

a[target="_blank"]::before {
content:none;
}
