/**
* @file
* @brief    hoverplus lightweight pop-up window on mouse-over
* @author   Levente Hunyadi
* @version  $__VERSION__$
* @remarks  Copyright (C) 2011 Levente Hunyadi
* @see      https://hunyadi.info.hu/projects/hoverplus
*/

#hoverplus {
border:thin solid black;
background:white url(loading-white.gif) no-repeat scroll center center;
color:black;
}
