/**
* @file
* @brief    captionplus mouse-over image caption engine stylesheet
* @author   Levente Hunyadi
* @version  $__VERSION__$
* @remarks  Copyright (C) 2009-2017 Levente Hunyadi
* @see      https://hunyadi.info.hu/projects/
*/

/* Custom styling */
.captionplus-outside,
.captionplus-overlay {
text-align: center;
}

.captionplus-outside {
height: 60px;
}

.captionplus-overlay {
height: 40%;
}

.captionplus-align {
padding: 4px;
}

/* Generic styling */
.captionplus {
display: inline-block;
position: relative;
white-space: normal;
}

.captionplus-outside,
.captionplus-overlay {
box-sizing: border-box;
width: 100%;
overflow: hidden;
overflow-y: auto;
}

.captionplus-outside {
position: relative;
}

/* caption that displays over image */
.captionplus-overlay {
position: absolute;
background-color: rgba(0,0,0,0.6);
color: white;
pointer-events: none;
}

@media (hover) and (pointer: fine), (-moz-touch-enabled: 0) {  /* rules for desktop devices */
.captionplus-overlay {
pointer-events: auto;
}
}

.captionplus-overlay > .captionplus-align a {
color: white;
}

.captionplus-overlay.captionplus-top {
top: 0;
}

.captionplus-overlay.captionplus-bottom {
bottom: 0;
}

.captionplus > .captionplus-overlay.captionplus-mouseover {
visibility: hidden;
}

.captionplus:hover > .captionplus-overlay.captionplus-mouseover {
visibility: inherit;
}

/* horizontal and vertical caption alignment */
.captionplus-align {
position: absolute;
box-sizing: border-box;
max-width: 100%;
max-height: 100%;
}

.captionplus-align > * {
display: inline;
}

.captionplus-horizontal-start {
left: 0;
}

.captionplus-horizontal-center {
left: 50%;
transform: translate(-50%,0);
width: 100%;
}

.captionplus-horizontal-end {
right: 0;
}

.captionplus-vertical-start {
top: 0;
}

.captionplus-vertical-center {
top: 50%;
transform: translate(0,-50%);
}

.captionplus-vertical-end {
bottom: 0;
}

.captionplus-horizontal-center.captionplus-vertical-center {
transform: translate(-50%,-50%);
}

/* buttons inside image caption */
.captionplus-button {
background: transparent none no-repeat center center;
display: inline-block;
height: 16px;
width: 16px;
min-height: 16px;
min-width: 16px;
margin: 0 4px;
cursor: pointer;
}

.captionplus-button.captionplus-download {
background-image: url(button-download.svg);
}
